/* * {
  font-family: monospace;
}
body {
  font-size: 22px;
}
html {
  font-size: 22px;
}
main {
  font-family: monospace;
}
p {
  font-size: 64px;
  color: purple !important;
}

p span {
  text-transform: uppercase;
  background-color: gold;
}

button,
input,
textarea,
select {
  font: inherit;
} */

h1 {
  font-size: 16px;
  border: 2px dashed red;
  width: 100%;
}
main {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}

ol {
  list-style-type: lower-alpha;
}
ul {
  list-style-type: square;
  text-align: center;
  list-style-postiton: inside;
  color: blue;
  line-height: 1.6;
  list-style-image: url("../");
  list-style: square url("../") inside;
}
li {
  color: red;
}
ul li:nth-child(2) {
  color: red;
}

ul li:nth-child(odd) {
  color: red;
}
ul li:nth-child(even) {
  color: red;
}
ul li ::marker {
  color: #000;
  content: "only $5";
}
